<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095200290201-i3145ibgg7jdo311ieqgq2003nn1rlcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095200290201-i3145ibgg7jdo311ieqgq2003nn1rlcd</string>
	<key>API_KEY</key>
	<string>AIzaSyAOTpjEHdIg96SIV_YpXY8fzpmAmGdriHw</string>
	<key>GCM_SENDER_ID</key>
	<string>1095200290201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.severinmueller.HAX</string>
	<key>PROJECT_ID</key>
	<string>hax-mobile-apps</string>
	<key>STORAGE_BUCKET</key>
	<string>hax-mobile-apps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095200290201:ios:704c37a9e66deff43dcf08</string>
	<key>DATABASE_URL</key>
	<string>https://hax-mobile-apps-default-rtdb.firebaseio.com</string>
</dict>
</plist>